.container{
    width: 100%;
    /* background: red; */
}

.container>div:first-child {
    /* Your styles for the first child go here */
    display:flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.container>div{
    width: 80%;
    margin: auto;
}



.child{
    width: 80%;
    margin: auto;
    padding: 10px;
    /* border: 1px solid red; */
    background-color: #FFF;
    border-radius: 13px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .button {
        display: block; /* Show the button */
    }
}

.button {
    display: none; /* Hide the button by default */
}


